body {
  font-family: "Open Sans", "sans-serif";
  background-color: #f9fafc;
}
nav {
  flex-direction: column;
  display: inline;
  margin: 25px 0px;
}
h1 {
  color: #000;
  font-size: 130%;
  font-weight: 100;
}
a {
  text-decoration: none;
  color: #69696a;
}
ul {
  list-style: none;
}
li {
  margin: 15px 0px;
  font-size: 110%;
}
.button1 {
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  height: 45px;
  width: 100%;
  border-style: none;
  font-size: 17px;
  text-align: center;
}
h2 {
  font-size: 220%;
  font-weight: 200;
  margin: 25px 0px 15px 0px;
}
div {
  border-left: 4px solid #69696a;
  height: 70%;
  margin: 10px 0;
  padding: 10px;
}
p {
  color: #69696a;
  font-size: 100%;
  display: inline;
}
.button2 {
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  height: 45px;
  width: 100%;
  margin-top: 15px;
  border-style: none;
  font-size: 17px;
  text-align: center;
}
